<div class="container">
  <div class="lista-participantes">
    <div class="lista-header" (click)="toggleLista()" [attr.expanded]="mostrarLista ? 'true' : null">
      <h2>Lista de Participantes</h2>
    </div>

    <ul class="lista-items" *ngIf="mostrarLista">
      <li *ngFor="let participante of participantes" class="lista-item">
        {{ participante.nombre }} {{ participante.apellidos }} - {{ participante.correo }}
        <button class="btn btn-editar" (click)="seleccionarParticipanteParaEditar(participante)">Editar</button>
        <button class="btn btn-eliminar" (click)="eliminarParticipante(participante.id)">Eliminar</button>
      </li>
    </ul>
  </div>

  <h3 *ngIf="!modoEdicion">Agregar Participante</h3>
  <h3 *ngIf="modoEdicion">Editar Participante</h3>
  <form class="form" (ngSubmit)="agregarOEditarParticipante()">
    <input [(ngModel)]="participanteSeleccionado.nombre" name="nombre" placeholder="Nombre" required>
    <input [(ngModel)]="participanteSeleccionado.apellidos" name="apellidos" placeholder="Apellidos" required>
    <input [(ngModel)]="participanteSeleccionado.correo" name="correo" placeholder="Correo" required>
    <input [(ngModel)]="participanteSeleccionado.telefono" name="telefono" placeholder="Teléfono" required>
    <input [(ngModel)]="participanteSeleccionado.edad" name="edad" type="number" placeholder="Edad" required>
    <button type="submit" class="btn btn-submit">{{ modoEdicion ? 'Guardar Cambios' : 'Agregar' }}</button>
  </form>
</div>
